<ion-header>
  <ion-toolbar>
    <ion-title>{{ ( list | async)?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
 <!-- petite verification de sureté au cas ou on aurait stoqué l'id de la liste quelque part, et on nous a enlevé les droit entre temps et qu'on essaye d'acceder a la liste en forcant l'url -->
<ion-content *ngIf="(this.isReadOnly | async) || (this.isWritable| async) || (this.isOwned | async)">
  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let todo of (list | async )?.todos">
      <ion-item>
        <ion-label>{{ todo.name }}</ion-label>
      </ion-item>
      <!-- On ne peut supprimer un todo de la liste que si on est en droit d"ecriture / proprietaire-->
      <ion-item-options side="end" *ngIf="!(this.isReadOnly | async )">
        <ion-item-option (click)="delete(todo)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- On ne peut ajouter un todo dans la liste que si on est en droit d"ecriture / proprietaire-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!(this.isReadOnly | async )">
    <ion-fab-button (click)="openCreateModal()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>