<ion-header translucent>
  <ion-toolbar>
    <ion-title> {{ 'modals.list.title' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><ion-icon size="large" name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="newListForm" (ngSubmit)="createNewList()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">{{ 'modals.list.inputListName' | translate }}</ion-label>
      <ion-input type="text" name="name" formControlName="name" required></ion-input>
    </ion-item>    
    <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.required">
      <span>
        {{ 'general.errors.fieldRequired' | translate }}
      </span>
    </ion-text>
    <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.minlength">
      <span>
        {{ 'general.errors.fieldMinLength' | translate: {number: '2'} }}
      </span>
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">{{ 'modals.list.inputEmail' | translate }}</ion-label>
      <ion-input type="text" name="emailAuthorized" formControlName="emailAuthorized"></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group formControlName="radioSettings" *ngIf="errorControl.emailAuthorized.value !== '' && errorControl.emailAuthorized.valid">
        <ion-list-header>
          <ion-label>{{ 'modals.list.radioGroupName' | translate }}</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>{{ 'modals.list.radioWrite' | translate }}</ion-label>
          <ion-radio slot="start" name="{{ 'modals.list.radioWrite' | translate }}" value="{{ 'modals.list.radioWrite' | translate }}"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'modals.list.radioRead' | translate }}</ion-label>
          <ion-radio  slot="start" name="{{ 'modals.list.radioRead' | translate }}" value="{{ 'modals.list.radioRead' | translate }}"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="newListForm.invalid" type="submit" color="primary" expand="block">{{ 'modals.list.submitList' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>