<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'general.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-text color="primary" class="ion-text-center" >
    <h1>{{ 'general.welcome' | translate }}</h1>
  </ion-text>

  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">{{ 'login.inputLogin' | translate }}</ion-label>
      <ion-input type="text" name="login" formControlName="login" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorControl.login.touched && errorControl.login.errors?.required">
      <span>
        {{ 'general.errors.fieldRequired' | translate }}
      </span>
    </ion-text>
    
    <ion-item lines="full">
      <ion-label position="floating">{{ 'login.inputPassword' | translate }}</ion-label>
      <ion-input type="password" name="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorControl.password.touched && errorControl.password.errors?.required">
      <span>
        {{ 'general.errors.fieldRequired' | translate }}
      </span>
    </ion-text>   
    <ion-row>
      <ion-col>
        <ion-button [disabled]="loginForm.invalid" type="submit" color="primary" expand="block">{{ 'login.submitLogin' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-button (click)="googleSignup()">Sign in</ion-button>
  <ion-toolbar>
    <a routerLink='/register'>{{ 'login.registerNow' | translate }}</a>
  </ion-toolbar>
  <ion-toolbar>
    <a routerLink='/password-recovery'>{{ 'login.passwordRecovery' | translate }}</a>
  </ion-toolbar>
</ion-content>