<ion-header>
  <ion-toolbar>
    <ion-title>Password Recovery</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <a routerLink='/login'>Login</a>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="recoveryForm" (ngSubmit)="recoverPassword()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorControl.email.touched && errorControl.email.errors?.required">
      <span>
        This field is required
      </span>
    </ion-text>
    <app-promise-message-displayer [isError]="this.isError" [isDisplay]="this.isDisplay" [message]="this.message"></app-promise-message-displayer>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="recoveryForm.invalid" type="submit" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
