<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'general.title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-text color="primary" class="ion-text-center" >
    <h1>{{ 'passwordRecovery.title' | translate }}</h1>
  </ion-text>
  <form [formGroup]="recoveryForm" (ngSubmit)="recoverPassword()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">{{ 'passwordRecovery.inputLogin' | translate }}</ion-label>
      <ion-input type="text" name="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorControl.email.touched && errorControl.email.errors?.required">
      <span>
        {{ 'general.errors.fieldRequired' | translate }}
      </span>
    </ion-text>
    <app-promise-message-displayer [isError]="this.isError" [isDisplay]="this.isDisplay" [message]="this.message"></app-promise-message-displayer>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="recoveryForm.invalid" type="submit" color="primary" expand="block">{{ 'passwordRecovery.submitregister' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
