<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ 'modals.todo.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><ion-icon size="large" name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="newTodoForm" (ngSubmit)="createNewTodo()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">{{ 'modals.todo.inputTodoName' | translate }}</ion-label>
      <ion-input type="text" name="name" formControlName="name" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.required">
      <span>
        {{ 'general.errors.fieldRequired' | translate }}
      </span>
    </ion-text>
    <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.minlength">
      <span>
        {{ 'general.errors.fieldMinLength' | translate: {number: '2'} }}
      </span>
    </ion-text>
    <ion-item lines="full">
      <ion-label position="floating">{{ 'modals.todo.inputDescription' | translate }}</ion-label>
      <ion-textarea name="description" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="errorControl.description.touched && errorControl.description.errors?.maxlength">
      <span>
        {{ 'general.errors.fieldMaxLength' | translate: {number: '255'} }}
      </span>
    </ion-text>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="newTodoForm.invalid" type="submit" color="primary" expand="block">{{ 'modals.todo.submitTodo' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>