<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'home.title' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-button (click)="signOut()" expand="block" fill="clear" shape="round">
      Sign Out
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <!-- Todo lists owned-->
    <ion-list>
      <ion-label>OWNED</ion-label>
      <ion-item-sliding *ngFor="let list of listsOwned | async">
        <ion-item [routerLink]="['/list-details/' + list.id]" routerLinkActive="active">
          <ion-label>{{ list.name }}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="delete(list)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- Todo lists read-->
    <ion-list>
      <ion-label>READ</ion-label>
      <ion-item-sliding *ngFor="let list of listsRead | async">
        <ion-item [routerLink]="['/list-details/' + list.id]" routerLinkActive="active">
          <ion-label>{{ list.name }}</ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <!-- Todo lists write-->
    <ion-list>
      <ion-label>WRITE</ion-label>
      <ion-item-sliding *ngFor="let list of listsWrite | async">
        <ion-item [routerLink]="['/list-details/' + list.id]" routerLinkActive="active">
          <ion-label>{{ list.name }}</ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openCreateModal()">
        <ion-icon size="large" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>