<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'home.title' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-item>
        <ion-segment value=1>
          <ion-segment-button *ngFor="let type of listsTypes" [value]=type.id>
            <ion-label>{{type.name | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-item>
    <!-- Todo lists owned-->
    <ion-list *ngIf="selectedType == 1 || selectedType == 2">
      <ion-label>{{ 'home.owned' | translate }}</ion-label>
      <ion-item-sliding *ngFor="let list of listsOwned | async">
        <ion-item [routerLink]="['/list-details/' + list.id]" routerLinkActive="active">
          <ion-label>{{ list.name }}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="delete(list)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- Todo lists read-->
    <ion-list *ngIf="selectedType == 1 || selectedType == 4" >
      <ion-label>{{ 'home.read' | translate }}</ion-label>
      <ion-item-sliding *ngFor="let list of listsRead | async">
        <ion-item [routerLink]="['/list-details/' + list.id]" routerLinkActive="active">
          <ion-label>{{ list.name }}</ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <!-- Todo lists write-->
    <ion-list *ngIf="selectedType == 1 || selectedType == 3">
      <ion-label>{{ 'home.write' | translate }}</ion-label>
      <ion-item-sliding *ngFor="let list of listsWrite | async">
        <ion-item [routerLink]="['/list-details/' + list.id]" routerLinkActive="active">
          <ion-label>{{ list.name }}</ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openCreateModal()">
        <ion-icon size="large" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>